    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-1"><img class="img-fluid mr-3" width="100" height="50" src="/src/app/assests/Canada Flag.preview.png" alt="Canada Flag">
                </div>
                <div class="col-2 f13"><p>{{Entitle}}</p></div>
                <div class="col-2 f13"><p>{{Fhtitle}}</p></div>
            </div>
        </div>    
    </div>
    <div class="row">
            <div class="col-md-2 offset-10"><img class="img-fluid mr-3 marb10" width="175" height="50" src="/src/app/assests/Canwordmark_colour.jpg" alt="Canada"></div>   
    </div>
    <div class="row pad10all">
            <div class="col-md-2"><img class="img-fluid mr-3 marb10" width="175" height="100" src="/src/app/assests/Logo.png" alt="Canada"></div>
            <div class="col-md-5"><h2>Inegrated Time Tracking and Invoice Processing</h2><p>CANADIAN AIR TRANSPORT SECURITY <img class="img-fluid mr-3 marb10" width="40" height="30" src="/src/app/assests/maple-leaf-38777_960_720.png" alt="Canada"></p></div>  
            <div class="col-md-2 offset-3"><button type="button" class="btn btn-secondary">Françis</button> <button type="button" class="btn btn-secondary">SITT</button> <button type="button" class="btn btn-secondary">Log Off</button></div>
        </div>
    <div class="row bgdblue pad10all">
            <div class="col-md-2"><button type="button" class="btn btn-secondary">Home</button></div>
            <div class="col-md-1 offset-md-9"><button type="button" class="btn btn-secondary">Help</button></div>  
    </div>